.homeMain {
	display: flex;
	width: 100vw;
}

.homeMain h2 {
	font-weight: 700;
}

.homeMain > div:first-child {
	height: 81vh;
}

.home-card {
	width: 40vw;
	height: 40vh;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	padding-top: 1rem;
	
	transition: 0.1s ease-in-out;
	animation: zoom 0.5s ease-in-out;
	border-radius: 10px !important;
}

@keyframes zoom {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.home-card h6 {
	padding: 1rem;
	border-bottom: 1px dotted black;
}

.home-card::-webkit-scrollbar {
	display: none;
}

.home-card:hover {
	transform: scale(1.03);
	z-index: 1;
	box-shadow: 0px 0px 5px 5px #ccc;
}

@media (orientation: portrait) {
	.homeMain {
		flex-direction: column;
		align-items: center;
	}
	.home-card {
		width: 80vw;
	}
}

.fa-screwdriver-wrench,
.fa-user-doctor {
	font-size: 25px;
}
