/* LOADING */
.spin-container {
	text-align: center;
	margin-top: 100px;
}
.spin {
	border: 3px solid #caffff;
	width: 80px;
	height: 80px;
	margin: auto;
	position: relative;
	top: 166px;
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader2 {
	border: 3px solid #69c8e7;
	width: 100px;
	height: 100px;
	position: relative;
	top: 75px;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader3 {
	border: 3px solid #63ffff;
	width: 120px;
	height: 120px;
	position: relative;
	top: -37px;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader4 {
	border: 3px solid #00abfa;
	width: 140px;
	height: 140px;
	position: relative;
	top: -168px;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
@keyframes rotate {
	0% {
		transform: rotateZ(-360deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}
@keyframes rotate2 {
	0% {
		transform: rotateZ(360deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}
#text {
	color: #000000;
	font-family: Arial;
	font-size: 12px;
	position: relative;
	top: -250px;
}
